/*index.css*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  background-color: rgb(10, 10, 10);

  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #ffffff;
  /* border: #ffffff 1px solid; */
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  width: 100%;
  height: 100%;
  border-radius: 5px;
  
  
}

#title {
  background-color: #1d1d1d;
  /* border: #007bff 1px solid; */
  width: 100%;
  height: 70px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* h1 {
  text-align: center;
  width: 100%;
} */

#question-container {
  text-align: center;
}

#question-counter {
  font-size: 20px;
  margin-top: 10px;
  color: #000000;
  border: #000000 2px solid;
  background-color: rgb(230, 195, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  height: 50px;
  box-shadow: inset 0 0 12px rgb(41, 40, 0);
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* input[type="text"] {
  margin-top: 10px;
  padding: 5px;
} */

button {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #333333;
  color: white;
  border: none;
  cursor: pointer;
  width: 400px;
  height: 50px;
  align-items: center;
  justify-content: center;
  /* text-transform: uppercase; */
  border-radius: 10px;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: inset 0 0 12px rgb(248, 248, 248);
  transition: box-shadow 0.3s ease;
}

button.clicked {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #ffffff;
  /* transition: background-color 1s ease-in; */
  color: #000000;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 50);
  transition: box-shadow 0.3s ease;
  transform: scale(1.1); /* Increase size by 10% */
  transition: transform 0.3s ease; /* Smooth transition effect */
  font-size: xx-large;
  transition: font-size 0.5s ease; /* Smooth transition effect */
}



.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.popup .message {
  font-size: 18px;
  color: green;
}

#main-body {
  align-items: center;
  display: flex;
  flex-direction: column;
}