/*App.css*/
html {
  background-color: #464646;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  padding-bottom: 14px;
  /* height: fit-content; */
  height:  auto;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

nav ul li {
  margin-right: 20px;
  width: fit-content;
}

.loggedInUser {
  margin-left: auto;
  font-weight:  bold;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #fff;
  text-decoration: none;
  border: hsl(0, 0%, 31%) 2px solid;
  box-shadow:  #45a049 0px 0px 4px 4px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  height: 5vh;
  border-radius: 10px;
}

.teacherdashboard {
  margin-left: auto;
}

#username {
  font-size: x-large;
  /* color: green; */

  /* text-shadow: 0px 0px 2px rgba(0, 255, 0, 1); */
  
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 5vh;
  border-radius: 10px;
  border: hsl(0, 0%, 31%) 2px solid;
  box-shadow: #45a049 4px 4px;
  transition: transform 0.15s ease, box-shadow 0.3s ease; /* Add transition for smoother effect */
}

nav ul li a:active {
  color: #fff;
  text-decoration: none;
  border: hsl(0, 0%, 31%) 2px solid;
  box-shadow: #636363 0px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 5vh;
  border-radius: 10px;
  transform: translate(4px, 4px); /* Move the box right and down by 4px */
}

/*nav ul li a box shadow when clicked*/

/* nav ul li a:hover {
  box-shadow: #ffffff 0px 0px 6px 6px;
  /*transform: translate(0px, 0px); /* Move the box back to its original position
} */



.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}

.equipment{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.equipment h2 {
  color: white;
}

.equipment ul li a {
  border: #333 1px solid;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: grey;
  width: fit-content;
  border-radius: 10px;
  font-size: 16px
}

.equipment ul{
  padding: 0;
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.equipment li{
  background-color: #333;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
  width: 20vh;
  border: hsl(0, 0%, 31%) 2px solid;
  box-shadow: #45a049 4px 4px;
  transition: transform 0.15s ease, box-shadow 0.3s ease; /* Add transition for smoother effect */
}

.equipment li:active{
  background-color: #333;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
  width: 20vh;
  border: hsl(0, 0%, 31%) 2px solid;
  box-shadow: #45a049 0px 0px;
  transform: translate(4px, 4px); /* Move the box right and down by 4px */
}

.equipment a{
  border: #333 1px solid;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: grey;
  width: fit-content;
  border-radius: 10px;
}

.equipment img {
  width: 20vh;
  height: 20vh;
}

.equipment-list {
  margin: 20px;
}

.equipment-container {
  display: flex;
  flex-wrap: wrap;
}

.equipment-box {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.equipment-box:hover {
  background-color: #f0f0f0;
}



.item_list_item.is_borrowed {
  box-shadow: inset red 0px 0px 20px 5px;
  transform: translate(0px, 0px); /* Move the box back to its original position */
  transition: all .3s ease-in-out;
}

.teacher-dashboard {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}