/* App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* LearningPlatform.css */
/* Add styles for the LearningPlatform component if needed */

/* MainPage.css */
nav {
  background-color: #333;
  padding: 10px;
  color: white;
  height: 10vh;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

li {
  cursor: pointer;
}

.class-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
