.App {
  background-color: #202020;
}

.nav {
  background-color: #202020;
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* App.css */
.products-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-width: 100vw;
}

.products-container h2 {
  color: lightblue;
  font-size: 2rem;
}

.underNav{
  position: sticky;
  top: calc(10vh); /* Adjust the value based on the height of the navbar */
  color: white;
  background-color: #2c2c2c;
  padding: 1 px;
  margin: 0px;
  height: fit-content;
  display: flex;
  justify-content: center;
  font-size: x-large;
  
}

h1 {
  text-align: center;
  margin-left: 3vh;
  color: lightblue;
  /*3d text*/
  text-shadow: 4px 3px 10px rgb(172, 172, 172);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-right: 30px;
  color: white;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 190px;
  height: 254px;
  padding: .8em;
  background-color: #333;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-right: 30px;
}

.product-details {
  padding-top: 10%;
  text-align: center;
}

.item-name {
  color: lightblue;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

.item-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.item-description {
  margin-bottom: 10px;
}

.order-button {
  background-color: #535353;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.order-button:hover {
  background-color: #555;
}

.product-list h2 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.input-container {
  position: relative;
}

input.search-input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

input.search-input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

